main {
  /* width: 100%; */
  /* overflow: hidden; */
  padding: 0 !important;
}

.MuiTableCell-root.MuiTableCell-head,
.MuiTableCell-root.MuiTableCell-body {
  text-align: center;
  padding: 0;
}

/* #table-container {
} */

table {
  display: table;
  width: 100%;
  height: 100%;
  text-align: center;
}

.firstColumn {
  min-width: 60px;
  text-align: left !important;
  position: -webkit-sticky;
  position: sticky;
  left: 60px;
}

.an-col {
  min-width: 6vw;
  max-width: 10vw;
  padding: 0;
}

.an-col input {
  width: 100%;
}

.an-col-1 {
  position: -webkit-sticky;
  position: sticky;
  left: 120px;
  min-width: 30vw;
  max-width: 30vw;
}

.an-header-col-1,
.accounts-header-col {
  position: -webkit-sticky;
  position: sticky;
  left: 60px;
}

.an-header-col-1 {
  left: 0;
}

.empty-header {
  left: 0;
}

.budget-col {
}

.pct-col {
}

.pct-col span::after {
  content: "%";
}

.row-depth-1 .an-col-1,
.row-depth-1 .firstColumn {
  padding-left: 30px;
}

.row-depth-2 .an-col-1 {
  padding-left: 60px;
}

#table-functions {
  display: grid;
  grid-template-rows: 50px 100px;
}

#table-functions > div:nth-child(2) {
  margin: 16px 0 0 0;
}
