main {
  /* width: 100%; */
  overflow: auto;
  padding: 0 !important;
}

.MuiTableCell-root.MuiTableCell-head,
.MuiTableCell-root.MuiTableCell-body {
  text-align: center;
  padding: 0;
}

table {
  /* width: 100%; */
  overflow: scroll;
}

.firstColumn {
  min-width: 60px;
  text-align: left !important;
  position: -webkit-sticky;
  position: sticky;
  left: 0;

  background: #ececec;
}

.an-col {
  min-width: 5.5vw;
  max-width: 5.5vw;
  padding: 0;
}

.an-col-1 {
  position: -webkit-sticky;
  position: sticky;
  left: 60px;
  min-width: 26vw;
  max-width: 26vw;
  text-align: left !important;
  background: #ececec;
}

.accounts-header-col {
  position: -webkit-sticky;
  position: sticky;
  left: 60px;
  background: #ececec;
}

.budget-col {
  border-right: 1px solid lightgray;
}

.pct-col {
  border-right: 1px solid black;
}

.child-row-1 .an-col-1,
.child-row-1 .firstColumn {
  padding-left: 30px;
}

.child-row-2 .an-col-1 {
  padding-left: 60px;
}
