/*.even {
  background: #fff;
}

.uneven {
  background: #fff;
}*/

table {
  table-layout: fixed;
  display: block !important;
  overflow: auto;
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: none; /* Firefox */
}

thead > tr:first-child > th:first-child {
  border: none;
}

thead > tr:first-child > th:nth-child(2) {
  border-bottom: none;
}

table th:first-child,
table td:first-child {
  min-width: 70px;
  max-width: 70px;
  border-right: none;
  padding: 0;
  position: sticky;
}

table th:nth-child(2),
table td:nth-child(2) {
  min-width: 150px;
  max-width: 150px;
  padding: 0;
  position: sticky;
}

tr > th:first-child {
  border-right: none;
}

th {
  background: #f7f7f7;
}

th,
td {
  border-right: 1px solid black;
}

.collapse-icon {
  position: absolute;
}

.collapse-icon:hover {
  cursor: pointer;
}

.row-1 > td:nth-child(2) {
  padding-left: 30px;
}

.row-1 .collapse-icon {
  padding-left: 30px;
}

.row-2 > td:nth-child(2) {
  padding-left: 60px;
}

.row-3 > td:nth-child(2) {
  padding-left: 90px;
}

-webkit-scrollbar {
  display: none; /* Safari and Chrome */
}

::-webkit-scrollbar {
  width: 3px;
  height: 3px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey;
  border-radius: 10px;
  background: #fff;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #000;
  border-radius: 10px;
}
