table {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: Name=none; /* Firefox */
}

/* collaps icon column */

.firstColumn.MuiTableCell-root.MuiTableCell-body {
  /* background-color: yellow; */
  max-width: 50px;
  min-width: 50px;
}

:root {
  --cell-width: 60px;
}

/* category column */
.categoryColumn.MuiTableCell-root.MuiTableCell-body {
  /* background-color: lightcoral; */
  min-width: 250px;
  max-width: 250px;
}

/* actual column */
.actualColumn.MuiTableCell-root.MuiTableCell-body {
  /* background-color: #ffc107; */
  max-width: var(--cell-width);
  min-width: var(--cell-width);
}

/* budget column */
.budgetColumn.MuiTableCell-root.MuiTableCell-body {
  /* background-color: #fff108; */
  max-width: var(--cell-width);
  min-width: var(--cell-width);
}

/* absolute column */
.absoluteColumn.MuiTableCell-root.MuiTableCell-body {
  /* background-color: #dfc107; */
  max-width: var(--cell-width);
  min-width: var(--cell-width);
}

/* percent column */
.percentColumn.MuiTableCell-root.MuiTableCell-body {
  /* background-color: #aac107; */
  max-width: var(--cell-width);
  min-width: var(--cell-width);
}
