table {
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  scrollbar-width: Name=none; /* Firefox */
}

.firstColumn {
  background-color: aquamarine;
}

.categorieColumn {
  background-color: rebeccapurple;
}

.actualColumn {
  background-color: #ffc107;
}

.budgetColumn {
  background-color: #fff108;
}

.absoluteColumn {
  background-color: #dfc107;
}
.percentColumn {
  background-color: #aac107;
}
